
  .main-todos-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 25%;
  .todos-wrapper {
    margin-top: 15%;
    padding-left: 0;
    margin-bottom: 20px;
}}